/* Modal (Далд байгаа цонх) */
.modal {
    display: none; /* Эхлээд харагдахгүй */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Ар тал нь бүрхэг */
}

/* Цонхны дотор тал */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 600px;
    position: relative;
    animation: zoomIn 0.3s;
}

/* Хаах товчлуур (x) */
.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

@keyframes zoomIn {
    from {transform: scale(0.5); opacity: 0;}
    to {transform: scale(1); opacity: 1;}
}